#Compleanno{
    font-size: 50px;
    text-align: center;
}

#domanda{
    font-size: 50px;
    text-align: center;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
    overflow: hidden;
}

#bottoni {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.bottone {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 75px;

    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;

    cursor: pointer;
}


/*.bottone {
    height: 50px;
    width: 75px;
}*/

.icona-casuale {
    position: absolute;
    width: 75px;
    height: 75px;
    z-index: -1;
    animation: fluttua 3s ease-in-out infinite;
}

@keyframes fluttua {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, -15px);
    }

    100% {
        transform: translate(0, 0);
    }
}
